# Chapter 4. 반복문 (Loop)

In [3]:
# 4-1. for loop
for x in range(5):
    print('안녕하세요!',x)

안녕하세요! 0
안녕하세요! 1
안녕하세요! 2
안녕하세요! 3
안녕하세요! 4

In [6]:
# 4-2. while loop
x = 0
while  x < 5 :
    print('안녕하세요?',x)
    x += 1

안녕하세요? 0
안녕하세요? 1
안녕하세요? 2
안녕하세요? 3
안녕하세요? 4

In [8]:
# 4-3. sum of 1~10 (for)
sum = 0
for i in range(1,11): #range(초기값, 끝나는값, 증가분) 초기값 생략시 0, 증가분 생략시 +1
    sum += i
print('i의 값 : %d, 합계 : %d'%(i,sum))

i의 값 : 10, 합계 : 55

In [15]:
# 4-4. using range
for i in range(10):
    print(i,end='')
print()

for i in range(1,11):
    print(i,end='')
print()

for i in range(1,10,2):
    print(i,end='')
print()    

for i in range(20,0,-2):
    print(i,end='')

0123456789
12345678910
13579
2018161412108642

In [18]:
# 4-5. Sum of multiples of 3
sum = 0
for i in range(1,101):
    if i % 3 == 0:
        print('%d'%i, end='')
        sum += i
        
print('\n','-'*50)
print('1~100에서 3의 배수의 합계 : %d'%sum)

369121518212427303336394245485154576063666972757881848790939699
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [19]:
# 4-6. String vertical output
word = input('영어문장 : ')

for x in word:            #sequence에는 range, string, list, tuple이 다 가능!
    print(x)

영어문장 : i love you
i

l
o
v
e

y
o
u

In [20]:
# 4-7. Change the temperature from Celsius to Fahrenheit
print('-'*30)
print('   섭씨    화씨')
print('-'*30)

for c in range(-20,31,5):
    f = c * 9.0/5.0 + 32.0
    print('%8d %6.1f'%(c,f))
    
print('-'*30)

------------------------------
   섭씨    화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

In [23]:
# Practice
n1 = int(input('시작 수를 입력하세요 : '))
n2 = int(input('끝 수를 입력하세요 : '))

sum = 0
for i in range(n1, n2 + 1):
    if i % 5 != 0:
        sum += 1
        
print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d'%(n1,n2,sum))

시작 수를 입력하세요 : 100
끝 수를 입력하세요 : 200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 80

In [25]:
# Practice
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요 : ')

for x in number:
    if x != '-':
        print('%s'%x,end='')

하이픈(-)을 포함한 휴대폰 번호를 입력하세요 : 010-2340-6348
01023406348

In [28]:
# Practice
phone = input('하이픈을 뺀 11자리의 휴대폰 번호를 입력하세요 : ')

number = '';
for i in range(0,len(phone)):
    if i == 2:
        number = number + (phone[2]+'-')
    elif i == 6:
        number = number + (phone[6]+'-')
    else:
        number = number + phone[i]
        
print(number)

하이픈을 뺀 11자리의 휴대폰 번호를 입력하세요 : 01023406348
010-2340-6348

In [36]:
# Practice
print('-'*50)
print('     cm        inch        ft         yd')
print('-'*50)

for cm in range(10,201,10):
    inch = cm * 0.393701
    ft = cm * 0.032808
    yd = cm * 0.010936
    print('%8d %10.1f %10.1f %10.1f'%(cm, inch, ft, yd))
    
print('-'*50)

--------------------------------------------------
     cm        inch        ft         yd
--------------------------------------------------
      10        3.9        0.3        0.1
      20        7.9        0.7        0.2
      30       11.8        1.0        0.3
      40       15.7        1.3        0.4
      50       19.7        1.6        0.5
      60       23.6        2.0        0.7
      70       27.6        2.3        0.8
      80       31.5        2.6        0.9
      90       35.4        3.0        1.0
     100       39.4        3.3        1.1
     110       43.3        3.6        1.2
     120       47.2        3.9        1.3
     130       51.2        4.3        1.4
     140       55.1        4.6        1.5
     150       59.1        4.9        1.6
     160       63.0        5.2        1.7
     170       66.9        5.6        1.9
     180       70.9        5.9        2.0
     190       74.8        6.2        2.1
     200       78.7        6.6        2.2
--------------------------------------------------

In [37]:
# 4-8. Multiplication table 2
a = 2

for b in range(1,10):
    c = a * b
    print('%d X %d = %d'%(a,b,c))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [41]:
# 4-9. Multiplication table

for i in range(2,10):
    for k in range(1,10):
        c = i * k
        print('%d X %d = %d'%(i,k,c))
    print('-'*50)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------------------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------------------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------------------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------------------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------------------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------------------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------------------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------------------------------------------

In [45]:
# Practice
for i in range(1,11):
    print('*' * i)

for i in range(1,11):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********
*
**
***
****
*****
******
*******
********
*********
**********

In [49]:
# Practice
for i in range(1,11):
    for j in range(1,10-i+1):
        print(' ',end='')
    for k in range(1,i+1):
        print('*',end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
# Practice diamond

In [50]:
# 4-10. sum of 1~10 (while)
sum = 0 
i = 1

while i <= 10:
    sum += i
    print('i의값 : %d => 합계 : %d'%(i,sum))
    i += 1

i의값 : 1 => 합계 : 1
i의값 : 2 => 합계 : 3
i의값 : 3 => 합계 : 6
i의값 : 4 => 합계 : 10
i의값 : 5 => 합계 : 15
i의값 : 6 => 합계 : 21
i의값 : 7 => 합계 : 28
i의값 : 8 => 합계 : 36
i의값 : 9 => 합계 : 45
i의값 : 10 => 합계 : 55

In [55]:
# Practice - 합이 1000에 가장 가까운 경우는 1에서부터 얼마까지 더한 경우인가?
sum = 0
count = 1
while sum < 1000:   
    if sum > 1000 :
        break
    sum += count
    count += 1
    
print(sum-count, count)

989 46

In [56]:
# Practice - Continue
for i in range(10):
    if i % 2 == 0:
        continue
    print(i,end='')

13579

In [59]:
# Practice - Break in overlap
for i in range(1,6):
    print('i =', i, ':', end=' ')
    for k in range(5):
        if k == i:
            break;
        print(k,end=' ')
    print()

i = 1 : 0
i = 2 : 0 1
i = 3 : 0 1 2
i = 4 : 0 1 2 3
i = 5 : 0 1 2 3 4