# Chapter 6. 튜플과 딕셔너리 (Tuple and Dictionary)

## Tuple

In [1]:
# 6-1. Tuple generation and element extraction
menu = ('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[1:3])

menu[1]='cola'             # tuple에서는 요소의 항목을 수정할 수 없다

('coffee', 'milk', 'tea', 'cider')
coffee
('milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [8]:
# 6-2. Merge tuple and find length
tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))

for x in tuple1:
    print(x)
    
del tuple1           # 튜플 자체를 삭제하는 것은 가능하지만 요소를 삭제하는 것은 불가능

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [9]:
# practice
admin_info = ('admin','12345','rubato@naver.com')

id = input('관리자 아이디를 입력하세요 : ')
password = input('관리자 비밀번호를 입력하세요 : ')

if id == admin_info[0] and password == admin_info[1]:
    print('관리자입니다')
else :
    print('아이디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이디를 입력하세요 : admin
관리자 비밀번호를 입력하세요 : 12345
관리자입니다

In [176]:
# practice
odds = tuple(range(1,10,2))
print(odds)

tuple1 = tuple(i * i for i in range(1,6))
print(tuple1)

tuple2 = tuple(i * i for i in range(1,10) if i % 2 ==1)
print(tuple2)

(1, 3, 5, 7, 9)
1 4 9 16 25

TypeError: 'NoneType' object is not iterable

## Sequence 객체

In [36]:
# Check for specific values
a = [0, 10 ,20, 30, 40, 50, 60, 70, 80, 90]

print(30 in a)
print(100 in a)
print(100 not in a)
print(20 not in a)

True
False
True
False

In [41]:
1 in range(10)

True

In [42]:
'a' in 'Hello, Python'

False

In [44]:
a = [0, 10, 20, 30]
b = [2, 3, 4, 5]
print(a + b)

[0, 10, 20, 30, 2, 3, 4, 5]

In [47]:
print((1,2,3) + (10, 20, 30))
print('Hello' +' '+'Python!')

(1, 2, 3, 10, 20, 30)
Hello Python!

In [53]:
tuple(range(1,10)) + tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [58]:
'python' + str(3)

'python3'

In [62]:
print([1, 2, 3] * 3)
print(3 * [1, 2, 3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [73]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)

print(a[::4])
print(a[0:len(a):4])

(11, 55, 99)
(11, 55, 99)

## Dictionary

In [126]:
# 6-3. Dictionary basic structure
members = {'name':'김유은','age':'23','email':'kue0605@naver.com'}
print(members)
print(members['name'])
print(members['age'])
print('길이 : %d'%len(members))

{'name': '김유은', 'age': '23', 'email': 'kue0605@naver.com'}
김유은
23
길이 : 3

In [133]:
# 6-4. Dictionary elements
name = 'yuny'
scores = {'kor':95, 'eng':85, 'math':98, 'science':80}
print(scores)

scores['kor']=70
print(scores['kor'])

scores['music']=100
print(scores)

del scores['science']
print(scores)

print('국어 : %d , 영어 : %d , 수학 : %d'%(scores['kor'],scores['eng'],scores['math']))

{'kor': 95, 'eng': 85, 'math': 98, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 98, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 98, 'music': 100}
국어 : 70 , 영어 : 85 , 수학 : 98

In [137]:
# 6-5.
phones = {'galaxy note 8':2017, 'galaxy S9':2018, 'galaxy note10':2019, 'galaxy S20':2020}
print(phones)

for key in phones:
    print('%s => %s'%(key,phones[key]))
    
print(len(phones))

{'galaxy note 8': 2017, 'galaxy S9': 2018, 'galaxy note10': 2019, 'galaxy S20': 2020}
galaxy note 8 => 2017
galaxy S9 => 2018
galaxy note10 => 2019
galaxy S20 => 2020
4

In [142]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(lux['health'])    # 키가 중복되면 가장 뒤에 있는 값만 사용함

print(lux)    # 중복되는 키는 저장되지 않음

800
{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [143]:
lux1 = dict(health = 490, mana = 334, melee = 550, armor = 18.72)
print(lux1)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [144]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
print(lux2)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [146]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
print(lux3)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [147]:
lux4 = dict({'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72})    
print(lux4)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [149]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
'health' in lux

True

In [150]:
'attack_speed' in lux

False

In [151]:
'attack_speed' not in lux

True

In [152]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(len(lux))

4

In [157]:
# practice

terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

## Set

In [160]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits) # 세트는 요소의 순서가 정해져 있지 않아서 매번 요소의 순서가 다르게 나옴!

{'grape', 'cherry', 'orange', 'pineapple', 'strawberry'}

In [161]:
fruits = {'orange', 'orange', 'cherry'}
print(fruits) # 세트에 들어가는 요소는 중복될 수 없음

{'cherry', 'orange'}