# Chapter 7. Function

In [2]:
# 7-1. Function definitions and calls

def hello(): 
    print("안녕하세요!")

hello()

안녕하세요!

In [15]:
# 7-2. One parameter

def even_odd(num) :
    if num % 2 == 0 :
        print("%d는 짝수" % num)
    else :
        print("%d는 홀수" % num)
    
even_odd(22)

22는 짝수

In [8]:
# 7-3. Multiple parameters

def favorate_color(name, color, amount):
    if (amount == 1):
        print('%s님은 %s을 좋아하지 않습니다.'%(name, color))
    elif (amount == 2):
        print('%s님은 %s을 조금 좋아합니다.'%(name, color))
    else :
        print('%s님은 %s을 매우 좋아합니다.'%(name, color))
        
favorate_color('김유은','빨강',3)

김유은님은 빨강을 매우 좋아합니다.

In [18]:
# 7-4. * Used in any parameter

def average(*scores):
    sum = 0
    for i in range(len(scores)):
        sum += scores[i]
        
    avg = sum/len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores),avg))
    
average(80,96,100)
average(87,77,87,99,80)

3과목의 평균 : 92.00
5과목의 평균 : 86.00

In [20]:
# 7-7.

def cir_area(r) :
    area = r * r * 3.14
    return area

r = int(input("반지름을 입력하세요: "))
result = cir_area(r)
print("반지름 : %d, 원의 면적 : %.2f" % (r, result))

반지름을 입력하세요: 10
반지름 : 10, 원의 면적 : 314.00

In [22]:
def new(r):
    area = 3.14 * r * r
    circum = 2 * 3.14 * r
    return area, circum

r = int(input("반지름을 입력하세요: "))
res1, res2  = new(r)
print("반지름 : %d, 원의 면적 : %.2f, 원의 둘레 : %.2f" % (r, res1, res2))

반지름을 입력하세요: 10
반지름 : 10, 원의 면적 : 314.00, 원의 둘레 : 62.80

## practice

In [32]:
def personal_info(name, age, address):
    print('이름:',name)
    print('나이:',age)
    print('주소:',address)
    
personal_info('김유은', 23, '서울시 용산구 이촌동')

이름: 김유은
나이: 23
주소: 서울시 용산구 이촌동

In [33]:
personal_info('김유은', 23, '서울시 용산구 이촌동')

이름: 김유은
나이: 23
주소: 서울시 용산구 이촌동

In [36]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [34]:
x = {'name': '홍길동', 'age' : 30, 'address' : '서울시 용산구 이촌동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [35]:
y = (97, 80, 90, 95)
average(*y)

4과목의 평균 : 90.50

In [38]:
def personal_info(**kwargs):
     for kw, arg in kwargs.items():
            print(kw, ': ', arg, sep='')

personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [42]:
def personal_info(name, **kwargs): # **kwargs가 고정 매개변수보다 앞에 오면 안 됨!
     print(name)                   # 매개변수 순서에서 **kwargs는 반드시 가장 뒤쪽에 와야함
     print(kwargs) 

personal_info('홍길동')
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

홍길동
{}
홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}
홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [41]:
def custom_print(*args, **kwargs):        # 위치형 가변인수 + 키워드형 가변인수
     print(*args, **kwargs)

custom_print(1, 2, 3, sep=':', end='')

1:2:3

In [44]:
# practice - Sum of integers

def sum(start, end) :
    total = 0
    for i in range(start, end+1) :
        total = total + i
    print("%d ~ %d의 정수의 합계 : %d" % (start, end, total))
    
sum(10, 100)
sum(100, 200)
sum(2000, 3000)

10 ~ 100의 정수의 합계 : 5005
100 ~ 200의 정수의 합계 : 15150
2000 ~ 3000의 정수의 합계 : 2502500

In [49]:
# practice - Sum of multiples

def sum_multi(n1, n2, num):
    sum = 0
    for i in range(n1, n2 + 1):
        if i % 5 == 0:
            sum += i
            
    return sum

start = int(input('시작 수 : '))
end = int(input('끝 수 : '))
multi = int(input('합계를 구할 배수를 입력하세요 : '))

result = sum_multi(start, end, multi)
print('%d ~ %d의 정수 중 %d의 배수의 합 : %d'%(start, end, multi, result))

시작 수 : 10
끝 수 : 100
합계를 구할 배수를 입력하세요 : 5
10 ~ 100의 정수 중 5의 배수의 합 : 1045

In [51]:
# practice - Greatest common factor

def gcd(x, y):
    if x > y :
        small = y
    else:
        small = x
        
    for i in range(1, small + 1):
        if x % i == 0 and y % i == 0 :
            result = i
    return result

num1 = int(input('첫번째 수를 입력하세요 : '))
num2 = int(input('두번째 수를 입력하세요 : '))
max = gcd(num1, num2)

print('%d와 %d의 최대공약수 : %d'%(num1, num2, max))

첫번째 수를 입력하세요 : 33
두번째 수를 입력하세요 : 44
33와 44의 최대공약수 : 11

In [62]:
# practice - Perfect Number (1)

N = int(input("숫자를 입력하세요 : ")) # 숫자를 하나 입력 
result = [] # 완전수를 저장할 빈리스트

def pn(N):
    for i in range(1, N+1): # 1부터 입력한 숫자까지
        sum = 0
        for k in range(1, i): # 1부터 i까지
            if i % k == 0:  
                sum += k # 약수들의 합을 구함
                
        if i == sum: # 자신을 제외한 약수들의 합이 자신과 같으면 
                result.append(i)
    return result

print(pn(N))

숫자를 입력하세요 : 10000
[6, 28, 496, 8128]

In [67]:
# practice - perfect number (2)

def sum_yaksu(n):
    sum = 0
    for i in range(1, n):
        if n % i == 0:
            sum += i
    return sum

for num in range(1,10001):
    if num == sum_yaksu(num):
        print(num)

6
28
496
8128

In [69]:
# 7-8. Lambda function

x = lambda a : a**2

print(x(5))

25

In [70]:
# 7-9. lambda function practice

f = lambda x, y, z : x + y + z
print(f(10, 20, 30))

def mul(n):
    return lambda x : x * n

g = mul(3)
h = mul(5)

print(g(10))
print(h(10))

60
30
50

In [71]:
# 7-10. Local variable

def func():
    x = 10
    print(x)
    
func()
print(x)

10
<function <lambda> at 0x0000020270EFA5E8>

In [73]:
# 7-11. Global variable

def func():
    print(x)
    print(id(x))
    
x = 10
print(x)
print(id(x))
func()

10
140718260593328
10
140718260593328

In [77]:
# 7-14. File write
file = open('sample.txt','w', encoding = 'utf8')
file.write('안녕하세용 반가워용')
file.close()
print('파일 쓰기 완료!')                 # 작업 폴더 내에 sample.txt 파일이 생성됨

파일 쓰기 완료!

In [79]:
file = open('sample.txt','a', encoding = 'utf8') # 기존 파일에 새로운 내용 추가 = a
file.write('안녕하세용 반가워용')
file.close()

In [85]:
# 7-15.

scores = ['김소영 82 80 93 97 93 88',
'정예린 86 100 93 86 90 77',
'이세영 91 88 99 79 92 68',
'정수정 86 100 93 89 92 93',
'박지수 80 100 95 89 90 84']

data = ''
for item in scores :
    data += item + '\n'

print(data)

file = open('scores.txt', 'w', encoding='utf8' )
file.write(data)
file.close()

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [86]:
file = open('scores.txt', 'r', encoding='utf8')
lines = file.readlines()
print('scores.txt 파일의 내용 : ')

for line in lines :
    print(line, end='')
file.close()

scores.txt 파일의 내용 :
김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84