# Chapter 2. 파이썬의 기본 문법 (Basic Python syntax)

In [2]:
# 2-1. add
a = 20 
b = 30 
c = a+b
print(c)

50

In [11]:
# 2-2. right variable(1)
x = 20
Computer = 'Mac'
Age = 23
my_score = 100
_name = '유은'
myBirthYear = 1996
data2 = 20.3

print(x,Computer,Age,my_score,_name,myBirthYear,data2)

20 Mac 25 100 유은 1996 20.3

In [12]:
# 2-2. right variable(2)
x = 20
computer = 'Mac'
age = 23
my_score = 100
_name = 'yuny'
my_birthyear = 1996
data2 = 20.3

print(x,computer,age,my_score,_name,my_birthyear,data2)

20 Mac 25 100 yuny 1996 20.3

In [13]:
# 2-4. Integer
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [15]:
# 2-5. float
x = 3.3764
y = 6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [21]:
# 2-6. string
a = 'Hi'
b = 'my name is'
c = "김유은"
print(a,b,c)
print(type(c))

Hi my name is 김유은
<class 'str'>

In [41]:
# 2-7. Difference between 30 and '30'
a = 30           # 0001 1110
print(a)
print(type(a))

b ='30'          # ASCII code (0x30, 0x30), Human interation
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [42]:
# 2-8. Index, Slicing
x = "I am happy~"
print(x)
print(x[0])
print(x[0:3])   
print(x[2:4])
print(x[5:])
print(x[:4])
print(x[-1])
print(x[-4:-2])
print(x[5:-1])

y = '내 강아지 이름은 happy입니다'
print(y[:9],"happy")

I am happy~
I
I a
am
happy~
I am
~
pp
happy
내 강아지 이름은 happy

In [45]:
# 2-9. Bool data (True, False)
a = True
b = False
print(a,b)
print(type(a))

c = 10>20
print(c)

True False
<class 'bool'>
False

In [49]:
# 2-10~12. Arithmetic Operator
a = 10
b = 20 
c = a + b * 10 -5/5
print(c)

x = 10 % 3
print(x)
y = 7//3
print(y)

z = 2**3
t = 10**4
print(z,t)

209.0
1
2
8 10000

In [52]:
# 2-13~14. Assignment Operator
x = 10
x += 20       # x = x + 20
print(x)

y = 3
x *= x+y      # x = *(x + y)
print(x)

30
990

In [54]:
# 2-15. String Repeat
hello = '안녕하세용' * 2
print(hello)

안녕하세용안녕하세용

In [56]:
# 2-16. String length
a = 'what is your name?'
b = len(a)
print(b)

18

In [69]:
# 2-17~19. String concatenation
name = '김유은'
greet = name + '님 안녕하세요!'
print(greet)

eng = 90
result = '수학점수 : ' + str(eng) + '점'
print(result)

김유은님 안녕하세요!
수학점수 : 90점

In [70]:
# 2-20~23. String format
name = '김유은'
a = '나는 %s입니다.' %name 
print(a)

age = 23
a = 'age is %d' %age
print(a)

year = 2020
month = 5
day = 29
a = '%d-%02d-%02d'%(year,month,day)
print(a)

height = 164.8
a = '키는 %.2f입니다.' %height
print(a)

나는 김유은입니다.
age is 23
2020-05-29
키는 164.80입니다.

In [73]:
# 2-24. str.format()
name = 'Yuny Kim'
age = '23'
eyesight = 0.1

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a,b,c)

이름 : Yuny Kim 나이 : 23세 시력 : 0.1

In [82]:
# string method
x = 'I am happy! Are you happy?'
x.count('happy')

2

In [83]:
x.upper()

'I AM HAPPY! ARE YOU HAPPY?'

In [85]:
x.lower()

'i am happy! are you happy?'

In [87]:
x.replace('am','was')

'I was happy! Are you happy?'

In [93]:
x.split(' ')

['I', 'am', 'happy!', 'Are', 'you', 'happy?']

In [98]:
x.isspace()

False

In [17]:
# 2-25~30 print()
name = 'Yuny'
age = 23
height = 164.8
print(name,age,height)

x = 10
y = 10
print('x='+str(x)+',y='+str(y))

score1 = 80
score2 = 92
sum = score1 + score2
avg = sum/2
print('두 과목 점수 : %d, %d'%(score1,score2))

name = 'Yuny'
id = 'yueunkim0605'
point = 23000
print('이름 : {}'.format(name))
print('아이디 : {}, 마일리지 : {}'.format(id,point))

year = 2020
month = 5
day = 29
print('오늘은',end=' ')
print(year,month,day,sep='/',end=' ')
print('입니다')

Yuny 23 164.8
x=10,y=10
두 과목 점수 : 80, 92
이름 : Yuny
아이디 : yueunkim0605, 마일리지 : 23000
오늘은 2020/5/29 입니다

In [19]:
# 2-31 input()
name = input('이름을 입력하세요 : ')
print('%s님 반갑습니다.'%name)

이름을 입력하세요 : yuny
yuny님 반갑습니다.

In [23]:
# 2-32~33 Sum of two numbers entered
a = input('first number : ')
b = input('second number : ')
c = int(a) + int(b)
print(c)

d = int(input('first number : '))
e = int(input('second number : '))
f = a + b
print(f)

first number : 1
second number : 2
3
first number : 5
second number : 6
12

In [27]:
# 2-34 Convert inch to cm
inch = float(input('인치 : '))
cm = inch * 2.54
print('cm : %.2f'%cm)

인치 : 29
cm : 73.66