### 1. 국내의 대표적인 걸그룹 또는 보이그룹 5개 이상에 대하여 다음과 같은 정보를 갖는 테이블을 만드시오. *는 Primary Keyid(*), group_name, 구성원 수, 데뷔일자, 소속사

### 2. 이들이 불렀던 노래 또는 다른 사람이 불렀던 노래 10곡 이상에 대하여 다음의 정보를 갖는 테이블을 만드시오.song_id(*), song_name, 그룹 id, 발표년도, 작곡가, 도입부 가사

### 3. 위 두개의 테이블을 조인한 결과를 가지고 다음의 필드를 갖는 데이터 프레임을 만드시오.그룹 이름, 구성원 수, 데뷔 일자, 노래 이름, 발표 년도

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [3]:
cur = conn.cursor()
cur.execute('SELECT * FROM singers')
rows = cur.fetchall()

In [4]:
rows

[(1, '방탄소년단', 7, '2013-06-13', '빅히트 엔터'),
 (2, '마마무', 4, '2014-06-19', 'RBW'),
 (3, '우주소녀', 13, '2016-02-25', '스타쉽 엔터'),
 (4, '블락비', 2, '2011-04-15', 'KQ 엔터'),
 (5, '엑소', 9, '2012-04-08', 'SM 엔터'),
 (6, '트와이스', 9, '2015-10-20', 'JYP 엔터')]

In [5]:
cur = conn.cursor()
cur.execute('SELECT singers.name, singers.members_no, singers.debut, \
            songs.song, songs.year FROM singers INNER JOIN songs\
            ON singers.id = songs.gid;')
rows = cur.fetchall()
rows

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', 2018),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', 4, '2014-06-19', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('블락비', 2, '2011-04-15', 'HER', 2014),
 ('엑소', 9, '2012-04-08', '으르렁', 2013),
 ('엑소', 9, '2012-04-08', 'MAMA', 2012),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', 9, '2015-10-20', 'TT', 2016)]

In [6]:
import pandas as pd
df = pd.DataFrame(rows)
df

       0  1           2                    3     4
0  방탄소년단  7  2013-06-13          작은 것들을 위한 시  2019
1  방탄소년단  7  2013-06-13            FAKE LOVE  2018
2    마마무  4  2014-06-19              넌 is 뭔들  2016
3    마마무  4  2014-06-19  음오아예 (Um Oh Ah Yeh)  2015
4    블락비  2  2011-04-15                  HER  2014
5     엑소  9  2012-04-08                  으르렁  2013
6     엑소  9  2012-04-08                 MAMA  2012
7   트와이스  9  2015-10-20             CHEER UP  2016
8   트와이스  9  2015-10-20                   TT  2016

In [7]:
df = df.rename({0:'그룹 이름', 1:'구성원 수', 2:'데뷔 일자', 3:'노래 이름', 4:'발표 년도'},
               axis = 1)
df

   그룹 이름  구성원 수       데뷔 일자                노래 이름  발표 년도
0  방탄소년단      7  2013-06-13          작은 것들을 위한 시   2019
1  방탄소년단      7  2013-06-13            FAKE LOVE   2018
2    마마무      4  2014-06-19              넌 is 뭔들   2016
3    마마무      4  2014-06-19  음오아예 (Um Oh Ah Yeh)   2015
4    블락비      2  2011-04-15                  HER   2014
5     엑소      9  2012-04-08                  으르렁   2013
6     엑소      9  2012-04-08                 MAMA   2012
7   트와이스      9  2015-10-20             CHEER UP   2016
8   트와이스      9  2015-10-20                   TT   2016